[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "~=1.11.23"
social-auth-app-django = "~=2.0.0"
slackclient = "~=1.1.0"


[dev-packages]



[requires]

python_version = "3.6"
